# Ignore log files
*.log

# ignore json files for feature extraction algorithm analysis
data/*.json

#ignore CSV data files to allow github upload
*.csv

# Ignore OS-specific files
.DS_Store

# Ignore pychache 
__pycache__/